<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include Quill CSS -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <link rel="stylesheet" href="/styles/compose_email.css">
    
    <!-- Include Quill JavaScript -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <title>Modify Page</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="container">

        <form id="emailForm" action="/send_email" method="post">
            <div class="flex-container">
                <div class="customer-list scrollable-div">
                    <h3>Select Contacts:</h3>
                    <% contacts.forEach(function(contact){ %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="<%=contact.id %>" id="<%=contact.id  %>" name="chk">
                            <label class="form-check-label" for="<%=contact.id  %>">
                            <%=contact.name %>
                            </label>
                        </div>
                    <% }) %>
                    <input type="button" onclick='selects()' value="Select All"/>  
                    <input type="button" onclick='deSelect()' value="Deselect All"/>  

                </div>

                <div class="text-box">
                    <div>
                        <label for="sender">Sender:</label>
                        <input type="text" id="sender" name="sender" value="<%=emails.sender_email  %>">
                    </div>

                    <div>
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" name="subject" value="<%=emails_content.subject  %>">
                    </div>
                    
                    <div>
                        <label for="template_id">Template ID:</label>
                        <input type="text" id="template_id" name="template_id" value="<%=emails_content.template_id  %>">
                    </div>

                    <div>
                        <label for="text_part">Text Part:</label>
                        <div id="editor" style="height: 200px;"></div>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Make it Automated Email</label>
                    </div>
                    <div hidden id="calendar">
                        <input type="datetime-local" name="date" id="date">
                    </div>
                    <div>
                        <% if(emails_content.status === 'saved') {%>
                            <button style="background-color: rgb(62, 193, 62);" type="submit" name="status" value="sent">Send Email</button>
                            <button style="background-color: rgb(238, 188, 23);" type="submit" name="status" value="saved">Save Email</button>
                        <% } %>
                    </div>

                </div>
            </div>



            <input type="hidden" id="modifiedHtmlContent" name="modifiedHtmlContent">
            <input type="hidden" id="imageDataArray" name="imageDataArray">
            <input type="hidden" id="pureHtml" name="pureHtml">
            <input type="hidden" id="email_id" name="email_id" value="<%=emails_content.id  %>">
            <input type="hidden" id="chosenId" name="chosenId" value="<%=chosenId %>">
            <input type="hidden" id="chosenDate" name="chosenDate" value="<%=emails_content.sent_at %>">

            <input type="hidden" id="selectedContacts" name="selectedContacts">
            <input type="hidden" name="selectedTime" id="selectedTime">



        </form>
    </div>

    
    <script>
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean'],                                         // remove formatting button

            ['link']
            ];


        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: toolbarOptions
            },
        });

        document.addEventListener('DOMContentLoaded', function() {
            choose(); // Call choose() function when DOM content is loaded

            var previousDateTime = document.getElementById('chosenDate').value
            if (previousDateTime.length > 0){
                var field = document.getElementById('flexSwitchCheckDefault');
                var calendarDiv = document.getElementById('calendar');
                calendarDiv.removeAttribute('hidden');
                field.checked = true;
                fillInCalendar();
            }
        });

        // Add event listener for the switch button
        document.getElementById('flexSwitchCheckDefault').addEventListener('change', function() {
            var calendarDiv = document.getElementById('calendar');

            if (this.checked) {
                // Switch is checked, show the calendar
                calendarDiv.removeAttribute('hidden');
                fillInCalendar(); // You may want to fill in the calendar content here as well

            } else {
                // Switch is unchecked, hide the calendar
                calendarDiv.setAttribute('hidden', 'true');
            }
        });


        // Set the initial HTML content
        var initialHtmlContent = `<%- JSON.stringify(emails_content.body) %>`;
        if(initialHtmlContent === "null")
        {
            quill.setText('');
        } else {
            quill.clipboard.dangerouslyPasteHTML(initialHtmlContent);
        }



        document.getElementById('emailForm').addEventListener('submit', function () {
            var field = document.getElementById('flexSwitchCheckDefault');
            var selectedDateTime = document.getElementById('date').value;

            if(!field.checked){
                selectedDateTime="";
            }

            // Set the value of the hidden input field
            document.getElementById('selectedTime').value = selectedDateTime;

            const selectedContacts = Array.from(document.querySelectorAll('input[name="chk"]:checked')).map(checkbox => parseInt(checkbox.value));
            document.getElementById('selectedContacts').value = JSON.stringify(selectedContacts);

            let justHtml = quill.root.innerHTML;
            emptyStringIfNeeded(justHtml);


            // Process the HTML content to meet Maijet API requirements
            let processedHtml = processHtmlForMaijet(justHtml);

            // Set the processed HTML content in the hidden input field
            // if(checkIfOnlyHasImg(justHtml)){
            //     document.getElementById('modifiedHtmlContent').value = processedHtml["modifiedHtmlContent"];
            //     document.getElementById('imageDataArray').value = processedHtml["imageDataArray"];
            // }

            // else{
            //     document.getElementById('modifiedHtmlContent').value = justHtml;
            //     document.getElementById('imageDataArray').value = "[]";

            // }
    });
    
    function choose() {
        var ele = document.getElementsByName('chk');
        var chosenIdJSON = document.getElementById('chosenId').value; // Get chosenId as JSON string
        var chosenId; // Declare variable to store parsed JSON

        try {
            chosenId = JSON.parse(chosenIdJSON); // Parse JSON string to JavaScript object
        } catch (error) {
            console.error('Error parsing chosenId JSON:', error);
            return; // Exit function if parsing fails
        }

        // Check if chosenId is an array
        if (Array.isArray(chosenId)) {
            for (var i = 0; i < ele.length; i++) {
                if (ele[i].type === 'checkbox') {
                    // Check if the checkbox value exists in any customer_id in the chosenId array
                    var checkboxValue = parseInt(ele[i].value);
                    if (chosenId.some(obj => obj.customer_id === checkboxValue)) {
                        ele[i].checked = true; // If yes, check the checkbox
                    }
                }
            }
        } else {
            console.error('chosenId is not an array');
        }
    }

    function fillInCalendar(){
        var previousDateTime = document.getElementById('chosenDate').value

        var calendarInput = document.getElementById('date');
        calendarInput.value = previousDateTime;

    }

    function emptyStringIfNeeded(htmlContent){
        if(htmlContent === "<p><br></p>"){
            document.getElementById('pureHtml').value = "";
        }
        else{
            document.getElementById('pureHtml').value = justHtml;
        }
    }

    function selects(){  
        var ele=document.getElementsByName('chk');  
        for(var i=0; i<ele.length; i++){  
            if(ele[i].type=='checkbox')  
                ele[i].checked=true;  
        }  
    }  
    function deSelect(){  
        var ele=document.getElementsByName('chk');  
        for(var i=0; i<ele.length; i++){  
            if(ele[i].type=='checkbox')  
                ele[i].checked=false;  
                
        }  
    }   

    function processHtmlForMaijet(htmlContent) {
        if (checkIfOnlyHasImg(htmlContent)) {
            return processHtmlWithImg(htmlContent);
        }

    return htmlContent;
    }


    function checkIfOnlyHasImg(htmlContent){
        const tempDiv = document.createElement('div');
        tempDiv.innerHTML = htmlContent;
        const imgElements = tempDiv.querySelectorAll('img');
        return imgElements.length > 0;
    }


    function processHtmlWithImg(htmlContent)
    {
        let modifiedHtmlContent = htmlContent;
        let imageDataArray = [];

        const tempDiv = document.createElement('div');
        tempDiv.innerHTML = htmlContent;
        const imgElements = tempDiv.querySelectorAll('img');
        let counter = 1;
        imgElements.forEach((imgElement) => {
            const base64ImageData = imgElement.getAttribute('src');
            const contentType = base64ImageData.split(';')[0].split(':')[1];
            const base64DataWithoutPrefix = base64ImageData.replace(/^data:image\/\w+;base64,/, '');
            const contentID = `id${counter}`;
            const filename = imgElement.getAttribute('alt') || `image${counter}.${contentType.split('/')[1]}`;
            imageDataArray.push({
                ContentType: contentType,
                Filename: filename,
                ContentID: contentID,
                Base64Content: base64DataWithoutPrefix
            });
        counter++;
        });

        imageDataArray.forEach((imageData, index) => {
            const placeholder = `cid:id${index + 1}`;
            const imgTag = `<img src=\\"${placeholder}\\">`;
            const base64DataToReplace = `<p><img src="data:${imageData.ContentType};base64,${imageData.Base64Content}"></p>`;
            modifiedHtmlContent = modifiedHtmlContent.split(base64DataToReplace).join(imgTag);
        });

        imageDataArray = JSON.stringify(imageDataArray);

        return {
            modifiedHtmlContent: modifiedHtmlContent,
            imageDataArray: imageDataArray
        };
        
    }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>